/* line 1, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon {
  vertical-align: middle;
  display: inline-block;
}

/* line 2, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon svg {
  vertical-align: baseline;
}

/* line 12, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon {
  width: 0.8em;
  height: 0.8em;
}

/* line 28, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
html {
  font-size: 100.01%;
}

/* line 29, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
body {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 32, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5e6469;
}
/* line 35, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 38, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 39, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 40, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 41, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 42, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 43, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 46, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
p {
  margin: 0 0 1.5em;
}
/* line 49, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 50, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 53, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.left {
  float: left !important;
}

/* line 54, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.right {
  float: right !important;
}

/* line 56, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 57, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
strong, dfn {
  font-weight: bold;
}

/* line 58, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
em, dfn {
  font-style: italic;
}

/* line 59, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
sup, sub {
  line-height: 0;
}

/* line 62, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 63, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 64, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
del {
  color: #666;
}

/* line 66, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 67, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 71, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
li ul,
li ol {
  margin: 0;
}

/* line 72, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
ul {
  list-style-type: disc;
}

/* line 75, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
ol {
  list-style-type: decimal;
}

/* line 77, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 78, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
dl dt {
  font-weight: bold;
}

/* line 79, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
dd {
  margin-left: 1.5em;
}

/* line 82, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 83, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
th {
  font-weight: bold;
}

/* line 84, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
thead th {
  background: #c3d9ff;
}

/* line 85, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 88, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 89, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 90, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.hide {
  display: none;
}

/* line 92, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.quiet {
  color: #666;
}

/* line 93, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.loud {
  color: #000;
}

/* line 94, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.highlight {
  background: #ff0;
}

/* line 95, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.added {
  background: #060;
  color: #fff;
}

/* line 96, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.removed {
  background: #900;
  color: #fff;
}

/* line 98, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 99, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 100, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 101, /Users/Admin/projects/vwlab/app/assets/stylesheets/active_admin/_typography.css.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
