/* line 3, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/expandable_tree.css.scss */
.sortable_tree.expandable h4 {
  margin-left: 50px;
}
/* line 8, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/expandable_tree.css.scss */
.sortable_tree .expand {
  float: left;
  cursor: pointer;
  border: 1px solid lightgray;
  color: lightgray;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  text-align: center;
  width: 13px;
  height: 13px;
  margin: 3px 10px 0 0;
}
/* line 24, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/expandable_tree.css.scss */
.sortable_tree .expand.empty {
  display: none !important;
}
