/* line 1, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree {
  margin: 0;
  padding: 0;
}
/* line 3, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree * {
  margin: 0;
  padding: 0;
}
/* line 5, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree ol {
  margin: 0 0 0 13px;
  padding: 0 0 0 15px;
  border-left: 1px dashed gray;
  list-style: none outside none;
}
/* line 12, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree li {
  margin-bottom: 5px;
  position: relative;
  list-style: none outside none;
}
/* line 18, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree a {
  color: #000;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
  line-height: 150%;
  margin-left: 30px;
  margin-right: 120px;
  display: block;
}
/* line 27, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree a:hover {
  text-decoration: underline;
}
/* line 30, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree h4 {
  margin-left: 30px;
}
/* line 33, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree h4 a {
  color: #333;
  font-size: 14px;
  margin-left: 0;
}
/* line 37, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree h4 a:hover {
  background: #eee;
}
/* line 41, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree p {
  margin-right: 75px;
  padding: 5px;
}
/* line 46, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .handle {
  background: transparent url(/assets/iconza/icons/move.png);
  background-position: center center;
  width: 16px;
  height: 16px;
  margin: 3px 10px 0 0;
  float: left;
  cursor: move;
}
/* line 56, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .handle:hover {
  background: transparent url(/assets/iconza/icons/red_move.png);
}
/* line 59, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .item {
  padding: 5px;
  background: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 5px;
}
/* line 64, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .item:hover {
  background: #eee;
}
/* line 67, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .placeholder {
  background-color: #EEF;
  border: 1px dashed blue;
}
/* line 72, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .ui-nestedSortable-error {
  background: #FAA;
  color: #8a1f11;
}
/* line 77, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls {
  position: absolute;
  top: 1px;
  right: 10px;
}
/* line 81, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  padding: 5px;
  cursor: pointer;
  position: relative;
  margin: 0 0 5px 5px;
  overflow: hidden;
  zoom: 1;
}
/* line 94, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.new {
  background: transparent url(/assets/iconza/icons/add.png) no-repeat scroll center center;
}
/* line 96, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.new:hover {
  background: transparent url(/assets/iconza/icons/red_add.png) no-repeat scroll center center;
}
/* line 98, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.edit {
  background: transparent url(/assets/iconza/icons/edit.png) no-repeat scroll center center;
}
/* line 100, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.edit:hover {
  background: transparent url(/assets/iconza/icons/red_edit.png) no-repeat scroll center center;
}
/* line 102, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.delete {
  background: transparent url(/assets/iconza/icons/delete.png) no-repeat scroll center center;
}
/* line 104, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/sortable_tree.css.scss */
.sortable_tree .controls a.delete:hover {
  background: transparent url(/assets/iconza/icons/red_delete.png) no-repeat scroll center center;
}
