/* line 1, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree {
  margin: 0;
  padding: 0;
}
/* line 3, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree * {
  margin: 0;
  padding: 0;
}
/* line 5, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree ol {
  margin: 0 0 0 13px;
  padding: 0 0 0 15px;
  border-left: 1px dashed gray;
  list-style: none outside none;
}
/* line 12, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree li {
  margin-bottom: 5px;
  position: relative;
  list-style: none outside none;
}
/* line 18, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree a {
  color: black;
  font-size: 14px;
}
/* line 22, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree a:hover {
  color: black;
  background: #ddd;
}
/* line 28, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree .item {
  padding: 5px;
  background: #eee;
  margin-bottom: 5px;
  border-radius: 3px;
}
/* line 33, /Users/Admin/.rvm/gems/ruby-2.0.0-p247/gems/the_sortable_tree-2.5.0/app/assets/stylesheets/tree.css.scss */
.tree .item:hover {
  background: #ddd;
}
