/= render 'partials/header'
/
/.row
/
/  .col-md-4
/    = render partial: 'partials/catalog', locals: {xxx: @auto_catalog, catalog_index: false}
/
/  = render partial: 'partials/items', locals: {xxx: @auto_items, catalog_index: false}