//= require activeadmin_settings
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//= require tree
//= require sortable_tree
//= require nested_options
//= require activeadmin-sortable

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
//@import "bootstrap/scaffolding";
@import "bootstrap/button-groups";
@import "bootstrap/buttons";
@import "bootstrap/utilities";
@import "bootstrap/grid";
@import "bootstrap/tables";

@import "formtastic";


* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


.col-md-6 {
  margin-bottom: 15px;
}

.formtastic .input, fieldset.inputs {
  overflow:visible;
}
.formtastic .inputs {
  overflow: visible;
}


fieldset.inputs, fieldset.inputs.has_many_fields {
  ol {
    padding: 15px;
  }
}

.best_in_place {
  &:after {
    content: image_url('edit_16.png');
    visibility: hidden;
  }
  &:hover {
    font-weight: bold;
    cursor: pointer;
    &:after {
      content: image_url('edit_16.png');
      visibility: visible;
    }
  }
}

fieldset.action, .formtastic .actions {
  text-align: center;
  padding: 21px;
  ol {
    display: block;
    margin: 0 auto;
  }
}

label.control-label {
  margin-right: 10px;
}

table .form-group .input {
  margin-bottom: 0;
  td {
    valign: middle;
  }
}

table.images {
  width: auto;
  td {
    padding: 5px;
  }
}

.t-l {
  text-align: left;
}
.t-r {
  text-align: right;
}
.t-c {
  text-align: center;
}
.t-j {
  text-align: justify;
}
.f-i {
  font-style: italic;
}

.text-danger {
  color: red;
}

#setting_string_input {
  padding: 1em 0 1em 1em;
  margin: 0;
}

ul#tabs {
  overflow: visible;
}

.price-label {
  padding: 4px;
  border-radius: 3px;
  white-space: nowrap;
  background: #D8D8D8;
  text-shadow: 0 1px 1px #fff;
}

.small_thumb {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}