/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "ani";
@import "bootstrap";
@import "bourbon";
@import "active_admin/mixins";

$html-bg: 'http://subtlepatterns.com/patterns/squairy_light.png';

$info: #47acd0;
$success: #49a945;
$danger: #c83c3b;

body, html, .container {
  height: 100%;
}

body > .container { height: auto; min-height: 100%; }

.container {
  padding-bottom: 4em;
}

img#logo {
  @include transition(all 0.3s ease-in-out);
  background-image: image_url('logo_under_hover.png');
    &:hover {
      background-size: 100%;
      background-image: image_url('logo_hover.png');

    }

}


body {
  background: url($html-bg);
//  background: url(http://subtlepatterns.com/patterns/notebook.png); !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//  background: url(http://subtlepatterns.com/patterns/sos.png); !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//  background: url(http://subtlepatterns.com/patterns/sprinkles.png);;
//  background: url(http://subtlepatterns.com/patterns/old_moon.png);
//  background: url(http://subtlepatterns.com/patterns/squared_metal.png);
//  background: image_url('stardust.png');
//  background: image_url('cream_pixels.png');
}

a {
  color: #666;
  &:hover {
    color: #2b5276;
  }
}

hr {
  border-top: 1px solid #a1a7a9;
  border-bottom: 1px solid #fff;
}

hr.one_border {
  border-bottom: 1px solid #fff;
  border-top: none;
}

hr.min {
  margin: 2px 0 ;
}

hr#header-shadow {
  width: 100%;
  height: 13px;
  background: image_url('header-shadow.png') no-repeat top center;
  background-size: contain;
  border: none;
}

.items_table {
  width: 100%;
  td.image {
    width: 100px;
  }
  .btn {
    margin: 3px 0;
  }
  .item_img {
    margin: 10px;
  }
}

.item-img {
  margin: 0 15px 10px 0;
}




.label-info {
  font-size: 13px;
  font-weight: normal;
  border-bottom: 3px solid #3c8ba8;
}

.label-danger {
  border-bottom: none;
  margin-top: 3px;
}

.t-l {
  text-align: left;
}
.t-r {
  text-align: right;
}
.t-c {
  text-align: center;
}
.t-j {
  text-align: justify;
}
.f-i {
  font-style: italic;
}

.t-uppercase {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

.t-capitalize {
  text-transform: capitalize;
}

.light {
  color: #757575;
  text-shadow: 0 1px 1px #fff;
}

.btn.large {
  font-weight: bold;
  letter-spacing: 0.7;
  font-size: 1.1em;
  color: #000000;
  text-shadow: 0 1px 1px #fff;
//  display: block;
  margin-left: 10px;
}

a.muted_link {
  color: #666666;
}

a.catalog_link {
  color: #666666;
  font-size: .9em;
  &:hover {
    color: #2b5276;
  }
}

#brands {
  a.btn {
    margin: 4px 0;
  }
}


#items {
  a#item_autos {
    margin: 2px;
  }
}


#footer {
  background: image_url('squared_metal.png');
  padding: 10px 0;
  box-shadow: inset 0 3px 12px #666666;
  clear: both;
  position: relative;
  z-index: 10;
  height: 5em;
  margin-top: -5em;
}

#catalog {

  #header-cat {
    &:hover {
      color: #38678b;
      cursor: pointer;
    }
  }

  .depth-1 {
    margin-left: 10px;
  }
  
  .depth-2 {
    margin-left: 20px;
  }
}

#widget_last_viewed {
  .tmb {
    border-radius: 4px;
    padding: 4px;
    background: #fff;
    border: 1px solid #dddddd;
      img {
        max-width: 200px;
        max-height: 150px;
//        min-width: 200px;
//        min-height: 150px;
      }
//    #428bca
//    height: 50px;
  }
}

.popover {
  table#specification {
    width: 100%;
    margin: 0;
    td.spec-label {
      padding: 0;
      width: 100%;
      height: 20px;
      color: #2E2F30;
      text-align: left;
      background: image_url('dot.png') repeat-x 100% 1.0em;
      span {
        padding: 2px 4px 2px 0;
        background: #fff;
      }
    }

    td.value {
      //      width: 100%;
      white-space: nowrap;
    }

  }
}

table#specification {
  width: 100%;
    td.spec-label {
      padding: 0;
      width: 100%;
      height: 20px;
      color: #2E2F30;
      text-align: left;
      background: image_url('dot.png') repeat-x 100% 12px;
        span {
          padding: 2px 4px 2px 0;
          background: image_url($html-bg);
        }
    }

    td.value {
//      width: 100%;
      white-space: nowrap;
    }

}

$price_bg: 'http://subtlepatterns.com/patterns/debut_light.png';


#prices {
  width: 100%;
  padding: 10px;
  background: image_url($price_bg);
  border-radius: 5px;
  @include box-shadow(0 1px 8px #8e8e8e, inset 0 0 28px 1px #ffffff);

  table {
    margin: 0;
    tr.dop {
      td {
        padding-bottom: 10px;
        padding-left: 10px;
      }
    }
  }

  th {
    height: 25px;
  }

  td.spec-label {
    padding: 0;
    width: 100%;
    color: #2E2F30;
    text-align: left;
    background: image_url('dot.png') repeat-x 100% 12px;
    small {
      padding: 2px 4px 2px 0;
      background: image_url($price_bg);
    }
  }

  td.value {
//    width: 100%;
    white-space: nowrap;
  }

}

.popover {
  background: #fff;
  padding: 2px;
//  box-shadow: rgba(117, 117, 117, 0.40) 0 1px 3px, #ccc 0px 1px 0px 0px inset;
  border: 1px solid #ccc;
  border-top: none;
}



table#auto-image {
  border-spacing: 10px;
  border-collapse: separate;

    h3.auto_name {
      //  border-radius: 5px;
      padding-right: 10px;
      margin: 0px;
//      margin-top: 0px;
      text-align: right;
    }
    td {
      vertical-align: middle;
    }
}


#menu {
//  white-space:nowrap;
  margin: 0 0 13px 0;
  a.menu-link {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.2em;
      color: #3988a6;
      padding: 5px 20px 7px 20px;
      text-decoration: none;
      border-radius: 4px;
      @include transition (all .1s ease-in-out);
      background-image: image_url('transparent.png');
        &:hover {
          color: #fff;
          background-image: image_url('stardust.png');
        }
  }
}

table#autos-list {
  border-spacing: 3px;
  border-collapse: separate;
  margin: 0;
  td {
    padding: 0 5px;
    vertical-align: middle;
    a button {
      margin: 3px 0;
    }
  }
}